<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Package" data-toc-modified-id="Import-Package-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Package</a></span></li><li><span><a href="#Data-clean" data-toc-modified-id="Data-clean-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data clean</a></span><ul class="toc-item"><li><span><a href="#Did" data-toc-modified-id="Did-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Did</a></span></li><li><span><a href="#Processing-for-data" data-toc-modified-id="Processing-for-data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Processing for data</a></span></li></ul></li></ul></div>

TP Data Challenge for IA317

# Import Package

In [6]:
import pandas as pd
import numpy as n

# Data clean

In [25]:
df = pd.read_csv('../Data/Toy/db_toy.csv', 
                                sep=';',
                               dtype={'freq': np.float64})
df.head()

,messageid,latitude,longitude,did,did_hex,time_msg,time_ux,time_ux_client,motion,speed,...,radius,datepart,seqnumber,dtid,nseq,rssi,bsid_hex,bsid,snr,freq
0,5a4b36a612f1431c0bbcfe5a,49.150979,2.584248,2158065,20EDF1,2018-01-02 07:37:10,1514878630000,1514878240000,t,127.0,...,NaN,2018-01-02,536,5491a93b9336908c3b1b4c70,0,-139,F4B,3915,11.740000,868136469.0
1,5a4b36a612f1431c0bbcfe5a,49.150979,2.584248,2158065,20EDF1,2018-01-02 07:37:10,1514878630000,1514878240000,t,127.0,...,NaN,2018-01-02,536,5491a93b9336908c3b1b4c70,0,-137,33B8,13240,13.980000,868137053.0
2,5a4b36a612f1431c0bbcfe5a,49.150979,2.584248,2158065,20EDF1,2018-01-02 07:37:10,1514878630000,1514878240000,t,127.0,...,NaN,2018-01-02,536,5491a93b9336908c3b1b4c70,0,-125,33C1,13249,26.580000,868136944.0
3,5a4b370f12f1431c0bbda371,49.368966,2.647366,5140063,4E6E5F,2018-01-02 07:38:55,1514878735000,1514878300000,f,0.0,...,NaN,2018-01-02,3581,5491a93b9336908c3b1b4c70,0,-139,2AE9,10985,12.210000,868109404.0
4,5a4b3958e541cd714dedf24b,49.244820,3.094714,2154347,20DF6B,2018-01-02 07:48:40,1514879320000,1514879320000,f,0.0,...,NaN,2018-01-02,3922,5491a93b9336908c3b1b4c70,0,-100,461,1121,51.560001,868188574.0

In [26]:
# TODO 频率有问题

## Did

1. did 设备id与经纬度的相关性, 如果测试集与训练集没有重合的did，那么did就没有用处
2. 删除 did_hex

In [27]:
del df['did_hex']

In [15]:
toy_distinct_velue = toy_df.apply(lambda x: len(x.unique()))
print(len(toy_df))
toy_distinct_velue

5177

messageid         2680
latitude          2301
longitude         2141
did                318
did_hex            318
time_msg          2674
time_ux           2674
time_ux_client    2673
motion               3
speed              147
altitude             1
nb_satellites        1
data_type            1
radius               2
datepart             9
seqnumber         1869
dtid                 2
nseq                 3
rssi                83
bsid_hex            12
bsid                12
snr               3101
freq              5097
dtype: int64

## Processing for data

In [37]:
df.time_msg = pd.to_datetime(df.time_msg)
df.time_ux = pd.to_datetime(df.time_ux, unit='ms')
df.time_ux_client = pd.to_datetime(df.time_ux_client, unit='ms')

In [41]:
df[['time_ux_client','time_msg', 'time_ux']].head()

       time_ux_client            time_msg             time_ux
0 2018-01-02 07:30:40 2018-01-02 07:37:10 2018-01-02 07:37:10
1 2018-01-02 07:30:40 2018-01-02 07:37:10 2018-01-02 07:37:10
2 2018-01-02 07:30:40 2018-01-02 07:37:10 2018-01-02 07:37:10
3 2018-01-02 07:31:40 2018-01-02 07:38:55 2018-01-02 07:38:55
4 2018-01-02 07:48:40 2018-01-02 07:48:40 2018-01-02 07:48:40

In [45]:
df.time_ux - df.time_msg

NameError: name 'time_ux' is not defined